<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self'; script-src 'self'">
        <link rel="stylesheet" href="./style.css">
        <title>Alpha Limit</title>
    </head>
    <body>
        <section id="first-page" class="flex-center">
            <h1 id="title">Alpha Limit files DataBase</h1>
            <!-- <h3 id="login">Login</h3> -->
            <form class="flex-center" id="login-form">
                <input
                    id="form-email"
                    class="input"
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    required="required">
                <input
                    id="form-password"
                    class="input"
                    type="password"
                    name="password"
                    placeholder="password"
                    required="required">
                <input id="form-btn" class="input" type="submit" value="Login">
            </form>
            <div id="err-msg" class="flex-center">
                <p id="err-msg-text"></p>
            </div>
        </section>
        

        <script src="../renderer.js"></script>
    </body>
</html>